.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.metrics {
  display: flex;
  margin: 30px;
}

.loading {
  font-weight: 700;
  font-size: 28px;
  margin-top: 30px;
}
